src/main/mule/sample-f1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8fb15fd0-dff5-40c6-914d-7ce2a7d536fc" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample-f1Flow" doc:id="b85877c2-9a80-4a8b-9185-a7695f0e3ca0" >
		<http:listener doc:name="Listener" doc:id="289bfc45-2917-42b7-a80d-2af6257889b7" config-ref="HTTP_Listener_config" path="/Samplef1"/>
		<set-payload value="Welcome to the world of mulesoft!!!" doc:name="Set Payload" doc:id="f9be47b1-b102-4c33-8435-f9967e5cfb78" />
		<logger level="INFO" doc:name="Logger" doc:id="0d861df5-a037-4750-826c-c9a677590a22" message="#[payload]"/>
	</flow>
</mule>
